@import url('https://rsms.me/inter/inter.css');

.logo {
    width: 50px;
    height: 50px;
    background-image: url(../src/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(243, 189, 149, 0.33);
    ;
}

.posts {
    background-color: #FFEDE0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postTags {
    align-self: center;
}

.postUser {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.loginHeader {
    background-color: #598F87;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-user-photo-positioning {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.upload-post-photo-positioning {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
}

.logInFields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-field {
    background-color: rgba(243, 189, 149, 0.72);
    border-radius: 20px !important;
    margin: 15px 0px !important;
    box-shadow: 0px 3px 4px grey;
}

.role-selector {
    background-color: rgba(243, 189, 149, 0.72);
    margin: 15px 0px !important;
    box-shadow: 0px 3px 4px grey;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    border-radius: 20px !important;
    -webkit-box-shadow: inset 0 0 0 50px #f6caa9 !important;
}

.modal-title {
    text-align: center;
    background-color: #598F87;
    color: #FFFCFC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    padding: 5px;
}

.bg-design {
    background-color: #FFEDE0;
}

.scroll-to-top {
    border-radius: 50% !important;
    background-color: #598F87 !important;
    color: #FFFCFC;
}

.send-post-link {
    text-transform: uppercase;
    transition: background-color 250ms;
    background-color: rgba(89, 143, 135, 0.9);
    color: #FFFCFC;
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 10px auto;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.send-post-link:hover {
    background-color: #044945;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
}

#modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);
    width: 60em;
    /* TODO: change */
    /* max-height: 80%; */
    height: 80%;
    background-color: #ffede0;
    border-radius: .5em;
    pointer-events: auto;
    overflow: hidden;
}

.modal-container-content-scroll {
    /* position: absolute; */
    width: auto;
    height: auto;
    max-height: calc(100% - 55px);
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #333;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #598f87;
    opacity: 0.6;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #1C6758;
}

.modal-container-content-scroll::-webkit-scrollbar {
    width: 10px;
}

.modal-container-content-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #333;
    border-radius: 10px;
}

.modal-container-content-scroll::-webkit-scrollbar-thumb {
    background: #598f87;
    opacity: 0.6;
    border-radius: 10px;
}

.modal-container-content-scroll::-webkit-scrollbar-thumb:hover {
    background: #1C6758;
}

@tailwind base;
@tailwind components;
@tailwind utilities;